/* ESTILOS NORMALES (generales, y para escritorios)
   ========================================================================= */

*{
    --card-padding: 20px;
    --card-img-border-radius: 20px;
    --loc-photo-by: 30px;
    --info-padding: 0px 0px;
    --card-width: 70%;
    --meal-or-coctail-card-img-width:70%;
    --meal-or-coctail-card-info-width:30%;
}

.meal-card, .coctail-card{
    width: var(--card-width);
    margin: 50px auto;
    margin-top: 0px;
    position: relative;
    padding: var(--card-padding);
}

.meal-card h2 a, .coctail-card h2 a{
    text-decoration: none;
}

.meal-card img, .coctail-card img{
    width: 100%;
    height: auto;
}

.meal-card-img, .coctail-card-img{
    width: var(--meal-or-coctail-card-img-width);
    border-radius: var(--card-img-border-radius);
    max-height: 600px;
    overflow: hidden;
}

.meal-card-img-left,.coctail-card-img-left{
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

.meal-card-img-right,.coctail-card-img-right{
    margin-left: 20px;
    margin-bottom: 20px;
    float: right;
}

.card-info{
    width: var(--meal-or-coctail-card-info-width);
    padding: var(--info-padding);
}

.leer-mas-structure{
    text-decoration: underline;
}

/* RESPONSIVE
   ========================================================================= 
/ Tablets horizontal*/ 

@media (min-width: 769px) and (max-width: 1366px){
    main *{
        padding: 0px;
        margin: 0px;
        display: block;
    }

    .meal-card, .coctail-card{
        width: 100%;
        margin: 10px auto;
        padding: calc(.50*var(--card-padding));
    }

    .meal-card h2 a, .coctail-card h2 a{
        text-decoration: none;
    }

    .meal-card-img, .coctail-card-img{
        width: 100%;
        border-radius: var(--card-img-border-radius);
        max-height: 600px;
        overflow: hidden;
    }
    
    .meal-card-img-right,.coctail-card-img-right,.meal-card-img-left,.coctail-card-img-left{
        margin: 0px;
        margin-bottom: 20px;
    }

    .card-info{
        width: 100%;
    }

    .card-info{
        width: var(--meal-or-coctail-card-info-width);
    }
}

/* RESPONSIVE
   ========================================================================= 
/ Celurares Tablets vertical */ 

@media (max-width: 768px){
    main *{
        padding: 0px;
        margin: 0px;
    }

    .meal-card, .coctail-card{
        border: 1px solid var(--dark-black);
        border-radius: var(--card-img-border-radius);
    }

    .meal-card, .coctail-card{
        width: 100%;
        margin: 10px auto;
        padding: calc(.50*var(--card-padding));
    }

    .meal-card h2 a, .coctail-card h2 a{
        text-decoration: underline;
    }

    .meal-card-img, .coctail-card-img{
        width: 100%;
        border-radius: var(--card-img-border-radius);
        max-height: 600px;
        overflow: hidden;
    }
    
    .meal-card-img-right,.coctail-card-img-right,.meal-card-img-left,.coctail-card-img-left{
        margin: 0px;
    }

    .card-info{
        width: 100%;
    }

    .meal-card p, .coctail-card p, .leer-mas-structure{
        height: 0px;
        visibility: hidden;
    }

    .card-info{
        width: var(--meal-or-coctail-card-info-width);
    }
    
}