*{
    --card-padding: 20px;
    --card-img-border-radius: 20px;
    --loc-photo-by: 30px;
    --info-padding: 0px 10px;
    --card-width: 70%;
    --meal-or-coctail-card-img-width:70%;
    --meal-or-coctail-card-info-width:30%;
}

.meal-card, .coctail-card{
    width: var(--card-width);
    margin: 50px auto;
    margin-top: 0px;
    position: relative;
    padding: var(--card-padding);
}

.meal-card img, .coctail-card img{
    width: 100%;
    height: auto;
}

.meal-card-img, .coctail-card-img{
    width: var(--meal-or-coctail-card-img-width);
    border-radius: var(--card-img-border-radius);
    max-height: 600px;
    overflow: hidden;
    margin-right: 20px;
    float: left;
}

.meal-card-img-left,.coctail-card-img-left{
    margin-right: 20px;
    float: left;
}

.meal-card-img-right,.coctail-card-img-right{
    margin-right: 50px;
    float: right;
}

.card-info{
    width: var(--meal-or-coctail-card-info-width);
    padding: var(--info-padding);
}


/* .meal-card span{
    position: absolute;
    bottom: var(--card-padding);
    left: var(--loc-photo-by);
} */


/* .info-leer-mas{
    width: 100%;
    padding: var(--info-padding);
    text-align: right;
} */


