*{
    --animation-x-tiempo-total: 15s;
}

/* ESTILOS NORMALES (generales, y para escritorios muy grandes)
   ========================================================================= */


main{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.icon-food{
    width: 40px;
}

.pairing-icons{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.iconos-ingredientes{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

.animation--X{
    animation: mixing_loop_with_waiting var(--animation-x-tiempo-total) linear infinite;
    transform-origin: 0% 50%;
}

.animation-X{
    animation: mixing_loop_with_waiting var(--animation-x-tiempo-total) linear infinite;
    transform-origin: 110% 50%;
}

.contact-container{
    box-sizing: border-box;
    max-height: 500px;
    min-width: 320px;
}

.form-input, .form-listbox, .form-label, .form-checkbox, .form-button{
    width: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 0px, 5px;
    height: 25px;
}

.form-message{
    width: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 5px;
    resize: none;
    height: 125px;
}

input[type="checkbox"]:checked + label{
    color: red;
}

@media(min-width:577px) and (max-height: 930px){

    main{
        flex-direction: row;
        justify-content: center;
    }
    
    .pairing-icons{
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    .iconos-ingredientes{
        min-width: min(calc((100vw - 380px)/2),200px);
        display: flex;
        flex-direction: column;

    }

    .animation--X{
        animation: moving_go_and_back_with_waiting_1 var(--animation-x-tiempo-total) linear infinite;
    }
    
    .animation-X{
        animation: moving_go_and_back_with_waiting_2 var(--animation-x-tiempo-total) linear infinite;
    }

}

@media(max-width:576px){

    main{
        padding: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .contact-container{
        margin: 0px 15px;
    }
    
    .icon-food{
        width: 0px;
    }


    .iconos-ingredientes{
        visibility: hidden;

    }

}



/* ESTILOS NORMALES (generales, y para escritorios muy grandes)
   ========================================================================= */

 
/* RESPONSIVE
   ========================================================================= /
 
/ Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- /
@media (min-width: 768px) and (max-width: 1199px) { ... }
 
/ Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- /
@media (max-width: 767px) { ... }
 
/ Móviles en vertical
   ------------------------------------------------------------------------- /
   @media (max-width: 480px) { ... }
*/