* {
    --hero-img-border-radius: 15px;
    --hero-img-width: 90%;
    --hero-img-heiht: 600px;
    --hero-between-margin: 50px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-normal-color);
}



.hero{
    width: var(--hero-img-width);
    height: 75vh;
    margin-bottom: var(--hero-between-margin);
    position: relative;
}

.hero-img {
    width: 100%;
    height: 100%;
    border-radius: var(--hero-img-border-radius);
}

.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: var(--hero-img-border-radius);
}

.hero:hover .hero-feature{
    visibility: visible;
}

.hero-feature{
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    border-radius: var(--hero-img-border-radius);
    background: linear-gradient(0deg, rgba(217,217,217,1) 1%, rgba(217,217,217,0) 100%);
}

.text-hero-feature{
    position: absolute;
    bottom: var(--hero-img-border-radius);
    left: var(--hero-img-border-radius);
}

.text-hero-feature p{
    font-size: 17px;
}

@media (max-width: 647px){

    .hero-feature{
        background: linear-gradient(0deg, rgba(217,217,217,0) 1%, rgba(217,217,217,1) 100%);
    }

    .text-hero-feature{
        top: var(--hero-img-border-radius);
    }

}

@media (max-height: 730px){
    .hero{
        height: 70vh;
    }
}