/* ESTILOS NORMALES (generales, y para escritorios)
   ========================================================================= */

* {
    --hero-img-border-radius: 15px;
    --hero-img-width: 100%;
    --hero-img-heiht: 600px;
    --hero-between-margin: 50px;

}


.hero{
    padding: 0px !important;
    max-height: 75vh !important;
    margin-bottom: var(--hero-between-margin);
    position: relative;
    overflow: hidden;
}


.hero-img img{
    min-height: 100vh !important;
    height: 100% !important;
    object-fit: cover;
    object-position: 0 0;
}

.hero:hover .hero-feature{
    visibility: visible;
}

.hero-feature{
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(217,217,217,0) 1%, rgba(217,217,217,1) 100%);
}

.text-hero-feature p{
    font-size: 17px;
}


/* RESPONSIVE
   ========================================================================= 
/ Tablets horizontal*/ 

@media (min-width: 769px) and (max-width: 1366px){

    .hero-feature{
        visibility: visible;
    }

}

/* RESPONSIVE
   ========================================================================= 
/ Tablets vertical*/ 

@media (min-width: 577px) and (max-width: 768px){

    .hero-feature{
        background: linear-gradient(0deg, rgba(217,217,217,0) 1%, rgba(217,217,217,1) 100%);
    }

    .hero-feature{
        visibility: visible;
    }
}

/* RESPONSIVE
   ========================================================================= 
/ Celurares */ 

@media (max-width: 576px){
    .hero{
        height: 70vh;
    }

    .hero-img img{
        object-position: -150px 0px;
    }

    .hero-feature{
        background: linear-gradient(0deg, rgba(217,217,217,0) 1%, rgba(217,217,217,1) 100%);
    }

    .hero-feature{
        visibility: visible;
    }  
}